<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Chile1" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Chile1" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
    <script type="text/javascript">
        $(document).ready(function() {
                // $("#main").css("display", "none");
                // $("#main").fadeIn(2000);

                
        });
    </script>

  </head>
  <body class="<%= controller_name %> <%= action_name %>">
<!--     <div class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </div> -->

    <div id="main" role="main">

              <%= render 'layouts/messages' %>
              <%= yield %>
              <a href="#" class="btn" id="scroll-button"><i class="icon-arrow-down"></i></a></h2>
  </body>
</html>
